<div class="container fixed-bottom bg-light">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <ul class="nav col-md-4 mb-0 text-muted">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted"><i class="fa-brands fa-square-instagram text-secondary"></i></a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted"><i class="ms-1 fa-brands fa-square-youtube text-secondary"></i></a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted"><i class="fa-brands fa-square-twitter text-secondary ms-1"></i></a></li>
      </ul>
  
      <ul class="nav col-md-4 justify-content-end hello">
        <li class="nav-item"><a routerLink="/shop" class="nav-link text-muted scroll">Ana Sayfa</a></li>
        <li class="nav-item"><a routerLink="/about" class="nav-link text-muted scroll">Hakkimda</a></li>
        <li class="nav-item"><a routerLink="/productDetail" class="nav-link text-muted scroll">Urunler</a></li>
        <li class="nav-item"><a routerLink="/education" class="nav-link text-muted scroll">Egitimler</a></li>
        
      </ul>
    </footer>
  </div>