<div class="top-area">
  <div class="header-area">
    <!-- Start Navigation -->
      <div class="wrap-sticky" style="height: 78px;"><nav class="navbar navbar-default bootsnav  navbar-sticky navbar-scrollspy on menu-center no-full" data-minus-value-desktop="70" data-minus-value-mobile="55" data-speed="1000">

          <div class="container">            
              <!-- Start Atribute Navigation -->
              <div class="attr-nav">
                  <ul>
                    <li class="dropdown">
                      <a  class="dropdown-toggle" data-toggle="dropdown">
                        <a routerLink="/cartDetail" class="text-secondary">
                          <i class="fa-solid fa-bag-shopping scroll"></i>
                        </a> 

                        <span class="badge badge-bg-1">{{cart.itemCount}}</span>
                      </a>
                      <ul *ngIf="cart && cart.items && cart.items.length>0" class="dropdown-menu cart-list s-cate animated fadeOutUp" style="display: none; opacity: 1;">
                          <ng-container *ngFor="let item of cart.items" >

                        <li class="single-cart-list">
                          <a href="#" class="photo"><img src="{{item.product.imageUrl}}" class="cart-thumb" alt="image"></a>
                          <div class="cart-list-txt">
                            <h6><a href="#">{{item.product.name}}</a></h6>
                            <p>{{item.quantity}} x - <span class="price"> {{item.product.price}}</span>₺ </p>
                          </div><!--/.cart-list-txt-->
                          <div class="cart-close">
                            <button class="btn btn-danger btn-sm" (click)="cart.removeItem(item.product.id)">
                              <i class="fa fa-times fa-fw"></i>
                            </button>
                          </div><!--/.cart-close-->
                        </li>
                          </ng-container>
                          <li class="total">
                              <span>₺{{cart.total}}</span>
                              <button routerLink="/cartDetail" class="btn-cart pull-right">Sepete Git</button>
                          </li>
                      </ul>
                  </li>
                  <li class="dropdown">
                    <a  class="dropdown-toggle" data-toggle="dropdown">
                      <a class="text-secondary">
                        {{cart.username}}
                      </a>
                    </a>
                    <ul *ngIf="cart.username" class="dropdown-menu cart-list s-cate animated fadeOutUp" style="display: none; opacity: 1;">
                        
                      <li class="single-cart-list">
                        <div class="cart-list-txt">
                          
                        </div><!--/.cart-list-txt-->
                        <div class="cart-close">
                          <button class="btn btn-danger btn-sm" (click)="clearToken()">
                            <i class="fa fa-times fa-fw"></i>
                          </button>
                        </div><!--/.cart-close-->
                      </li>
                        <li class="total">
                           
                            <button (click)="clearToken()" class="btn text-center">Oturumu Sonlandir.</button>
                        </li>
                    </ul>
                </li>
                  </ul>
              </div><!--/.attr-nav-->
              
              <!-- End Atribute Navigation -->

              <!-- Start Header Navigation -->
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                      <i class="fa fa-bars"></i>
                  </button>
                  <a class="navbar-brand scroll" href="/#">Mell<span>mazing</span>.</a>

              </div><!--/.navbar-header-->
              <!-- End Header Navigation -->

              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse menu-ui-design" id="navbar-menu">
                  <ul class="nav navbar-nav navbar-center" data-in="fadeInDown" data-out="fadeOutUp">
                      <li class="scroll"><a (click)="routing('shop')">Ana Sayfa</a></li>
                      <li class="scroll"><a (click)="routing('about')">Hakkimda</a></li>
                      <li class="scroll"><a (click)="routing('productDetail')">Urunler</a></li>
                      <li class="scroll"><a (click)="routing('education')">Egitimler</a></li>
                  </ul><!--/.nav -->
              </div><!-- /.navbar-collapse -->
          </div><!--/.container-->
      </nav></div><!--/nav-->
      <!-- End Navigation -->
  </div><!--/.header-area-->
</div>